.login-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.login-form__container {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.login-form__container:last-of-type {
  margin-bottom: 60px;
}
