.search-error {
  margin: 0;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .8);
  font-size: 16px;
  color: #fff;
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  position: absolute;
  top: 110px;
  left: calc(50% - 110px);
}

.search-error_state_error {
  background: #dc2a65;
  animation: tremble .1s 3 ease-in;
}

.search-error_state_success {
  background: #0abb65;
  animation: smooth-appearance .6s 1 linear;
}

.search-error_state_disable {
  display: none;
}

@keyframes tremble {
  13% {
    transform: translate(2px, 0);
  }

  26% {
    transform: translate(4px, 0);
  }

  39% {
    transform: translate(2px, 0);
  }

  52% {
    transform: translate(0, 0);
  }

  65% {
    transform: translate(-2px, 0);
  }

  76% {
    transform: translate(-4px, 0);
  }

  88% {
    transform: translate(-2px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes smooth-appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 768px) {
  .search-error {
    top: 140px;
  }
}
