.search-form {
  margin: 0 auto;
  padding: 0;
  padding-left: 75px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-form__container {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
