.header {
  margin: 0;
  padding: 0 20px;
  height: 90px;
  align-self: stretch;
  background: #2e3a6a;
  box-shadow: 0 0 15px rgba(0, 0, 0, .8);
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.header__button {
  margin: 0;
  padding: 5px 10px;
  border: none;
  font-size: 18px;
  background-color: #2e3a6a;
  color: #fff;
  transition: all .1s linear;
}

.header__button:hover {
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, .7);
}
