.register-form {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.register-form__container {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.register-form__container:last-of-type {
  margin-bottom: 60px;
}
