.login {
  margin: 0;
  padding: 50px 30px;
  width: 400px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, .8);
  background: linear-gradient(#2e3a6a, #2f0b45);
  animation: smooth-appearance 0.5s linear 1;
}
	
@keyframes smooth-appearance {   
  0% {     
    opacity: 0;   
  }   
  50% {     
    opacity: 0.5; 
  } 
  100% {
    opacity: 1; 
   }
}