.slider-item {
  width: 100%;
  display: inline-block;
  min-height: 300px;
  background-color: #2e3a6a;
  color: #fff;
  cursor: pointer;
  transition: all .2s linear;
}

.test {
  margin: 0 0 0 auto;
  padding: 0;
}

.slider-item:hover {
  background-color: #55608f;
}

.slider-item:hover .slider-item__delete  {
  visibility: visible;
  opacity: 1;
  transition: all .2s linear;
}

.slider-item__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-item__icon {
  margin: 0;
  padding: 0;
}

.slider-item__temp {
  margin: 0;
  padding: 0;
  font-size: 44px;
  font-weight: bold;
  color: #fff;
}

.slider-item__time {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
}

.slider-item__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
}

.slider-item__delete {
  margin: 0;
  margin-top: 10px;
  margin-right: 10px;
  padding: 0;
  align-self: flex-end;
  width: 15px;
  height: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/delete-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  visibility: hidden;
  opacity: 0;
}

.slider-item__delete_hidden {
  background-image: none;
  pointer-events: none;
}

.slider-item__title {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  font-size: 26px;
  color: #fff;
}
